<a href="https://colab.research.google.com/github/M-Borsuk/CollegeAssignments/blob/main/UFOReportsDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [241]:
import pandas as pd
import datetime

In [242]:
df = pd.read_csv("/content/drive/MyDrive/ufo_report.tsv",sep="\t",header=None,error_bad_lines=False)

b'Skipping line 755: expected 6 fields, saw 7\nSkipping line 1167: expected 6 fields, saw 7\nSkipping line 1569: expected 6 fields, saw 13\nSkipping line 1571: expected 6 fields, saw 7\nSkipping line 1659: expected 6 fields, saw 10\nSkipping line 1951: expected 6 fields, saw 7\nSkipping line 2077: expected 6 fields, saw 12\nSkipping line 2382: expected 6 fields, saw 11\nSkipping line 2753: expected 6 fields, saw 8\nSkipping line 3076: expected 6 fields, saw 13\nSkipping line 3218: expected 6 fields, saw 8\nSkipping line 3238: expected 6 fields, saw 7\nSkipping line 3346: expected 6 fields, saw 7\nSkipping line 3453: expected 6 fields, saw 8\nSkipping line 3513: expected 6 fields, saw 7\nSkipping line 3571: expected 6 fields, saw 7\nSkipping line 3632: expected 6 fields, saw 8\nSkipping line 3718: expected 6 fields, saw 7\nSkipping line 3814: expected 6 fields, saw 9\nSkipping line 4607: expected 6 fields, saw 10\nSkipping line 4627: expected 6 fields, saw 9\nSkipping line 4666: expected 6 fields, saw 8\nSkipping line 4996: expected 6 fields, saw 7\nSkipping line 5357: expected 6 fields, saw 7\nSkipping line 5371: expected 6 fields, saw 8\nSkipping line 5531: expected 6 fields, saw 7\nSkipping line 5686: expected 6 fields, saw 8\nSkipping line 5919: expected 6 fields, saw 8\nSkipping line 5927: expected 6 fields, saw 8\nSkipping line 5988: expected 6 fields, saw 8\nSkipping line 6043: expected 6 fields, saw 7\nSkipping line 6337: expected 6 fields, saw 7\nSkipping line 6403: expected 6 fields, saw 7\nSkipping line 6646: expected 6 fields, saw 7\nSkipping line 6803: expected 6 fields, saw 7\nSkipping line 6924: expected 6 fields, saw 7\nSkipping line 7341: expected 6 fields, saw 7\nSkipping line 7736: expected 6 fields, saw 7\nSkipping line 7737: expected 6 fields, saw 7\nSkipping line 7834: expected 6 fields, saw 7\nSkipping line 8177: expected 6 fields, saw 9\nSkipping line 8470: expected 6 fields, saw 7\nSkipping line 8539: expected 6 fields, saw 7\nSkipping line 8546: expected 6 fields, saw 10\nSkipping line 8815: expected 6 fields, saw 8\nSkipping line 9014: expected 6 fields, saw 9\nSkipping line 9043: expected 6 fields, saw 7\nSkipping line 9155: expected 6 fields, saw 7\nSkipping line 9350: expected 6 fields, saw 11\nSkipping line 9400: expected 6 fields, saw 16\nSkipping line 9533: expected 6 fields, saw 14\nSkipping line 10060: expected 6 fields, saw 9\nSkipping line 10219: expected 6 fields, saw 7\nSkipping line 10820: expected 6 fields, saw 26\nSkipping line 10953: expected 6 fields, saw 7\nSkipping line 11035: expected 6 fields, saw 8\nSkipping line 11671: expected 6 fields, saw 7\nSkipping line 12155: expected 6 fields, saw 7\nSkipping line 12324: expected 6 fields, saw 7\nSkipping line 12464: expected 6 fields, saw 10\nSkipping line 13600: expected 6 fields, saw 8\nSkipping line 14799: expected 6 fields, saw 7\nSkipping line 14923: expected 6 fields, saw 11\nSkipping line 15026: expected 6 fields, saw 7\nSkipping line 16147: expected 6 fields, saw 8\nSkipping line 16865: expected 6 fields, saw 10\nSkipping line 17307: expected 6 fields, saw 28\nSkipping line 17619: expected 6 fields, saw 28\nSkipping line 17644: expected 6 fields, saw 7\nSkipping line 19515: expected 6 fields, saw 7\nSkipping line 22182: expected 6 fields, saw 10\nSkipping line 22600: expected 6 fields, saw 13\nSkipping line 25163: expected 6 fields, saw 7\nSkipping line 26619: expected 6 fields, saw 14\nSkipping line 27120: expected 6 fields, saw 7\nSkipping line 27230: expected 6 fields, saw 7\nSkipping line 27394: expected 6 fields, saw 34\nSkipping line 30609: expected 6 fields, saw 118\nSkipping line 31120: expected 6 fields, saw 7\nSkipping line 32439: expected 6 fields, saw 33\nSkipping line 33087: expected 6 fields, saw 9\nSkipping line 34733: expected 6 fields, saw 13\nSkipping line 35622: expected 6 fields, saw 9\nSkipping line 35943: expected 6 fields, saw 14\nSkipping line 35993: expected 6 fields, saw 7\nSkipping line 36007: expected 6 fields, saw 7\nSkipping line 36111: expected 6 fields, saw 7\nSkipping line 37201: expected 6 fields, saw 7\nSkipping line 37330: expected 6 fields, saw 7\nSkipping line 37657: expected 6 fields, saw 7\nSkipping line 38386: expected 6 fields, saw 12\nSkipping line 38636: expected 6 fields, saw 8\nSkipping line 39533: expected 6 fields, saw 7\nSkipping line 39639: expected 6 fields, saw 29\nSkipping line 39910: expected 6 fields, saw 15\nSkipping line 40214: expected 6 fields, saw 12\nSkipping line 40446: expected 6 fields, saw 7\nSkipping line 40540: expected 6 fields, saw 7\nSkipping line 40547: expected 6 fields, saw 11\nSkipping line 40677: expected 6 fields, saw 11\nSkipping line 40899: expected 6 fields, saw 7\nSkipping line 40960: expected 6 fields, saw 36\nSkipping line 41034: expected 6 fields, saw 8\nSkipping line 41185: expected 6 fields, saw 7\nSkipping line 41461: expected 6 fields, saw 10\nSkipping line 41486: expected 6 fields, saw 8\nSkipping line 41497: expected 6 fields, saw 12\nSkipping line 41509: expected 6 fields, saw 7\nSkipping line 41542: expected 6 fields, saw 10\nSkipping line 41549: expected 6 fields, saw 8\nSkipping line 41625: expected 6 fields, saw 8\nSkipping line 41739: expected 6 fields, saw 10\nSkipping line 41812: expected 6 fields, saw 13\nSkipping line 41860: expected 6 fields, saw 8\nSkipping line 41903: expected 6 fields, saw 7\nSkipping line 41930: expected 6 fields, saw 13\nSkipping line 42058: expected 6 fields, saw 7\nSkipping line 42072: expected 6 fields, saw 23\nSkipping line 42105: expected 6 fields, saw 8\nSkipping line 42133: expected 6 fields, saw 7\nSkipping line 42165: expected 6 fields, saw 10\nSkipping line 42293: expected 6 fields, saw 13\nSkipping line 42344: expected 6 fields, saw 9\nSkipping line 42361: expected 6 fields, saw 15\nSkipping line 42370: expected 6 fields, saw 8\nSkipping line 42379: expected 6 fields, saw 9\nSkipping line 42496: expected 6 fields, saw 7\nSkipping line 42523: expected 6 fields, saw 10\nSkipping line 42546: expected 6 fields, saw 10\nSkipping line 42547: expected 6 fields, saw 10\nSkipping line 42565: expected 6 fields, saw 8\nSkipping line 42570: expected 6 fields, saw 15\nSkipping line 42587: expected 6 fields, saw 9\nSkipping line 42608: expected 6 fields, saw 13\nSkipping line 42655: expected 6 fields, saw 10\nSkipping line 42679: expected 6 fields, saw 11\nSkipping line 42694: expected 6 fields, saw 10\nSkipping line 42771: expected 6 fields, saw 8\nSkipping line 42784: expected 6 fields, saw 9\nSkipping line 42827: expected 6 fields, saw 15\nSkipping line 42841: expected 6 fields, saw 7\nSkipping line 42853: expected 6 fields, saw 10\nSkipping line 42872: expected 6 fields, saw 7\nSkipping line 42888: expected 6 fields, saw 8\nSkipping line 42902: expected 6 fields, saw 58\nSkipping line 42915: expected 6 fields, saw 10\nSkipping line 43007: expected 6 fields, saw 19\nSkipping line 43046: expected 6 fields, saw 7\nSkipping line 43091: expected 6 fields, saw 9\nSkipping line 43155: expected 6 fields, saw 8\nSkipping line 43176: expected 6 fields, saw 9\nSkipping line 43232: expected 6 fields, saw 10\nSkipping line 43240: expected 6 fields, saw 13\nSkipping line 43249: expected 6 fields, saw 8\nSkipping line 43298: expected 6 fields, saw 7\nSkipping line 43332: expected 6 fields, saw 11\nSkipping line 43367: expected 6 fields, saw 10\nSkipping line 43369: expected 6 fields, saw 8\nSkipping line 43418: expected 6 fields, saw 10\nSkipping line 43461: expected 6 fields, saw 13\nSkipping line 43560: expected 6 fields, saw 8\nSkipping line 43612: expected 6 fields, saw 8\nSkipping line 43622: expected 6 fields, saw 7\nSkipping line 43625: expected 6 fields, saw 7\nSkipping line 43644: expected 6 fields, saw 7\nSkipping line 43645: expected 6 fields, saw 9\nSkipping line 43648: expected 6 fields, saw 7\nSkipping line 43761: expected 6 fields, saw 10\nSkipping line 43772: expected 6 fields, saw 8\nSkipping line 43792: expected 6 fields, saw 7\nSkipping line 43796: expected 6 fields, saw 9\nSkipping line 43824: expected 6 fields, saw 8\nSkipping line 43891: expected 6 fields, saw 8\nSkipping line 43985: expected 6 fields, saw 8\nSkipping line 43994: expected 6 fields, saw 10\nSkipping line 44000: expected 6 fields, saw 9\nSkipping line 44030: expected 6 fields, saw 7\nSkipping line 44032: expected 6 fields, saw 8\nSkipping line 44088: expected 6 fields, saw 12\nSkipping line 44131: expected 6 fields, saw 10\nSkipping line 44178: expected 6 fields, saw 8\nSkipping line 44220: expected 6 fields, saw 7\nSkipping line 44269: expected 6 fields, saw 13\nSkipping line 44403: expected 6 fields, saw 9\nSkipping line 44497: expected 6 fields, saw 10\nSkipping line 44530: expected 6 fields, saw 7\nSkipping line 44579: expected 6 fields, saw 18\nSkipping line 44582: expected 6 fields, saw 8\nSkipping line 44587: expected 6 fields, saw 9\nSkipping line 44651: expected 6 fields, saw 10\nSkipping line 44652: expected 6 fields, saw 7\nSkipping line 44706: expected 6 fields, saw 14\nSkipping line 44794: expected 6 fields, saw 9\nSkipping line 44803: expected 6 fields, saw 10\nSkipping line 44824: expected 6 fields, saw 8\nSkipping line 44970: expected 6 fields, saw 10\nSkipping line 45115: expected 6 fields, saw 9\nSkipping line 45184: expected 6 fields, saw 9\nSkipping line 45198: expected 6 fields, saw 7\nSkipping line 45232: expected 6 fields, saw 7\nSkipping line 45398: expected 6 fields, saw 10\nSkipping line 45422: expected 6 fields, saw 7\nSkipping line 45565: expected 6 fields, saw 7\nSkipping line 45570: expected 6 fields, saw 7\nSkipping line 45593: expected 6 fields, saw 7\nSkipping line 45645: expected 6 fields, saw 17\nSkipping line 45698: expected 6 fields, saw 10\nSkipping line 45774: expected 6 fields, saw 11\nSkipping line 45845: expected 6 fields, saw 21\nSkipping line 46138: expected 6 fields, saw 9\nSkipping line 46238: expected 6 fields, saw 7\nSkipping line 46251: expected 6 fields, saw 9\nSkipping line 46254: expected 6 fields, saw 10\nSkipping line 46271: expected 6 fields, saw 11\nSkipping line 46292: expected 6 fields, saw 7\nSkipping line 46297: expected 6 fields, saw 18\nSkipping line 46389: expected 6 fields, saw 8\nSkipping line 46402: expected 6 fields, saw 8\nSkipping line 46469: expected 6 fields, saw 10\nSkipping line 46551: expected 6 fields, saw 10\nSkipping line 46594: expected 6 fields, saw 7\nSkipping line 46634: expected 6 fields, saw 7\nSkipping line 46717: expected 6 fields, saw 10\nSkipping line 46882: expected 6 fields, saw 10\nSkipping line 46957: expected 6 fields, saw 9\nSkipping line 47033: expected 6 fields, saw 7\nSkipping line 47102: expected 6 fields, saw 7\nSkipping line 47123: expected 6 fields, saw 7\nSkipping line 47200: expected 6 fields, saw 8\nSkipping line 47206: expected 6 fields, saw 9\nSkipping line 47230: expected 6 fields, saw 123\nSkipping line 47285: expected 6 fields, saw 9\nSkipping line 47371: expected 6 fields, saw 7\nSkipping line 47381: expected 6 fields, saw 7\nSkipping line 47654: expected 6 fields, saw 7\nSkipping line 47768: expected 6 fields, saw 8\nSkipping line 47813: expected 6 fields, saw 8\nSkipping line 48057: expected 6 fields, saw 12\nSkipping line 48071: expected 6 fields, saw 7\nSkipping line 48087: expected 6 fields, saw 38\nSkipping line 48090: expected 6 fields, saw 11\nSkipping line 48130: expected 6 fields, saw 8\nSkipping line 48365: expected 6 fields, saw 7\nSkipping line 48670: expected 6 fields, saw 7\nSkipping line 48745: expected 6 fields, saw 8\nSkipping line 48866: expected 6 fields, saw 12\nSkipping line 49022: expected 6 fields, saw 7\nSkipping line 49079: expected 6 fields, saw 7\nSkipping line 49092: expected 6 fields, saw 9\nSkipping line 49133: expected 6 fields, saw 7\nSkipping line 49417: expected 6 fields, saw 7\nSkipping line 49563: expected 6 fields, saw 7\nSkipping line 49746: expected 6 fields, saw 7\nSkipping line 49800: expected 6 fields, saw 7\nSkipping line 49836: expected 6 fields, saw 7\nSkipping line 49922: expected 6 fields, saw 7\nSkipping line 50005: expected 6 fields, saw 13\nSkipping line 50094: expected 6 fields, saw 14\nSkipping line 50102: expected 6 fields, saw 11\nSkipping line 50257: expected 6 fields, saw 8\nSkipping line 50485: expected 6 fields, saw 21\nSkipping line 50600: expected 6 fields, saw 7\nSkipping line 50609: expected 6 fields, saw 8\nSkipping line 50704: expected 6 fields, saw 7\nSkipping line 50830: expected 6 fields, saw 7\nSkipping line 51076: expected 6 fields, saw 7\nSkipping line 51238: expected 6 fields, saw 7\nSkipping line 51749: expected 6 fields, saw 8\nSkipping line 52276: expected 6 fields, saw 7\nSkipping line 52475: expected 6 fields, saw 7\nSkipping line 52705: expected 6 fields, saw 7\nSkipping line 53011: expected 6 fields, saw 7\nSkipping line 53058: expected 6 fields, saw 7\nSkipping line 53086: expected 6 fields, saw 7\nSkipping line 53181: expected 6 fields, saw 7\nSkipping line 53232: expected 6 fields, saw 8\nSkipping line 53325: expected 6 fields, saw 7\nSkipping line 53398: expected 6 fields, saw 7\nSkipping line 53517: expected 6 fields, saw 14\nSkipping line 53583: expected 6 fields, saw 7\nSkipping line 53997: expected 6 fields, saw 12\nSkipping line 54005: expected 6 fields, saw 7\nSkipping line 54182: expected 6 fields, saw 10\nSkipping line 54237: expected 6 fields, saw 8\nSkipping line 54367: expected 6 fields, saw 56\nSkipping line 54544: expected 6 fields, saw 7\nSkipping line 54582: expected 6 fields, saw 7\nSkipping line 55194: expected 6 fields, saw 10\nSkipping line 55218: expected 6 fields, saw 12\nSkipping line 55290: expected 6 fields, saw 76\nSkipping line 55381: expected 6 fields, saw 9\nSkipping line 55493: expected 6 fields, saw 7\nSkipping line 55810: expected 6 fields, saw 7\nSkipping line 55853: expected 6 fields, saw 9\nSkipping line 55897: expected 6 fields, saw 21\nSkipping line 56001: expected 6 fields, saw 7\nSkipping line 56082: expected 6 fields, saw 56\nSkipping line 56114: expected 6 fields, saw 7\nSkipping line 56128: expected 6 fields, saw 7\nSkipping line 56199: expected 6 fields, saw 8\nSkipping line 56487: expected 6 fields, saw 8\nSkipping line 56550: expected 6 fields, saw 9\nSkipping line 56610: expected 6 fields, saw 7\nSkipping line 56733: expected 6 fields, saw 46\nSkipping line 56735: expected 6 fields, saw 7\nSkipping line 56993: expected 6 fields, saw 7\nSkipping line 57060: expected 6 fields, saw 7\nSkipping line 57087: expected 6 fields, saw 7\nSkipping line 57426: expected 6 fields, saw 7\nSkipping line 57527: expected 6 fields, saw 7\nSkipping line 57828: expected 6 fields, saw 7\nSkipping line 58144: expected 6 fields, saw 10\nSkipping line 58191: expected 6 fields, saw 16\nSkipping line 58404: expected 6 fields, saw 13\nSkipping line 58654: expected 6 fields, saw 7\nSkipping line 58662: expected 6 fields, saw 7\nSkipping line 58804: expected 6 fields, saw 56\nSkipping line 59066: expected 6 fields, saw 7\nSkipping line 59119: expected 6 fields, saw 7\nSkipping line 59461: expected 6 fields, saw 9\nSkipping line 60196: expected 6 fields, saw 7\nSkipping line 60754: expected 6 fields, saw 7\nSkipping line 60972: expected 6 fields, saw 11\nSkipping line 61138: expected 6 fields, saw 7\n'

In [243]:
df.head()

          0  ...                                                  5
0  19951009  ...  Man repts. witnessing &quot;flash, followed by...
1  19951010  ...  Man  on Hwy 43 SW of Milwaukee sees large, bri...
2  19950101  ...  Telephoned Report:CA woman visiting daughter w...
3  19950510  ...  Man repts. son&apos;s bizarre sighting of smal...
4  19950611  ...  Anonymous caller repts. sighting 4 ufo&apos;s ...

[5 rows x 6 columns]

In [244]:
df.columns = ["DateSaw","DateReg","State","Keyword","Time","Description"]

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61069 entries, 0 to 61068
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DateSaw      61069 non-null  int64
 1   DateReg      61069 non-null  int64
 2   State        61068 non-null  object
 3   Keyword      58556 non-null  object
 4   Time         58658 non-null  object
 5   Description  61067 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.8+ MB

In [246]:
df.describe()

            DateSaw       DateReg
count  6.106900e+04  6.106900e+04
mean   1.992401e+07  2.004449e+07
std    1.287071e+06  3.679017e+04
min    0.000000e+00  1.905062e+07
25%    1.999090e+07  2.002051e+07
50%    2.003113e+07  2.005022e+07
75%    2.007062e+07  2.007122e+07
max    2.010083e+07  2.010083e+07

# **Data cleaning**

In [247]:
df.isna().any()

DateSaw        False
DateReg        False
State           True
Keyword         True
Time            True
Description     True
dtype: bool

In [248]:
df[df["State"].isna() == True]

        DateSaw   DateReg  ... Time Description
19132  20030118  20030120  ...  NaN         NaN

[1 rows x 6 columns]

In [249]:
df[df["Keyword"].isna() == True]

        DateSaw  ...                                        Description
0      19951009  ...  Man repts. witnessing &quot;flash, followed by...
1      19951010  ...  Man  on Hwy 43 SW of Milwaukee sees large, bri...
2      19950101  ...  Telephoned Report:CA woman visiting daughter w...
3      19950510  ...  Man repts. son&apos;s bizarre sighting of smal...
4      19950611  ...  Anonymous caller repts. sighting 4 ufo&apos;s ...
...         ...  ...                                                ...
60683  19970614  ...  enormous pulsing red smoke bellowing lightsbea...
60759  20100707  ...  Vivid lights in daytime skyWe were traveling o...
60824  20100828  ...  Since 25 August, I have witnessed 2 cigar/chev...
60854  20090914  ...  SPIDER ALEIN, 20 legs waist high showed itself...
60929  20100807  ...  Round, bright orange balls in sky traveling in...

[2513 rows x 6 columns]

In [250]:
df[df["Time"].isna() == True]

        DateSaw  ...                                        Description
0      19951009  ...  Man repts. witnessing &quot;flash, followed by...
2      19950101  ...  Telephoned Report:CA woman visiting daughter w...
4      19950611  ...  Anonymous caller repts. sighting 4 ufo&apos;s ...
7      19950911  ...  Man repts. bright, multi-colored obj. in NW ni...
8      19950115  ...  Woman reports 2 craft fly over house.  Strange...
...         ...  ...                                                ...
60894  20100816  ...  UFO in Northern MIchiganMy alarm was set for 6...
60918  20100825  ...  big flash over hammond indiana with a shape ch...
60950  20100822  ...  i have pictures of ufo&apos;s not sure what to...
60964  20100729  ...  Spherical-shaped  object over Hurricane Ridge,...
61027  20100815  ...  Pink saucer seen over Whistling Straits, Wisco...

[2411 rows x 6 columns]

In [251]:
df[df["Description"].isna() == True]

        DateSaw   DateReg  ... Time Description
6264   19991006  19991007  ...  NaN         NaN
19132  20030118  20030120  ...  NaN         NaN

[2 rows x 6 columns]

## **Cleaning the Date columns**

In [252]:
df["DateSaw"] = df["DateSaw"].apply(lambda x: "".join(list(str(x))[:4]) + "-" + "".join(list(str(x))[4:6]) + "-" + "".join(list(str(x))[6:]))
df["DateReg"] = df["DateReg"].apply(lambda x: "".join(list(str(x))[:4]) + "-" + "".join(list(str(x))[4:6]) + "-" + "".join(list(str(x))[6:]))

In [253]:
df[["DateSaw","DateReg"]]

          DateSaw     DateReg
0      1995-10-09  1995-10-09
1      1995-10-10  1995-10-11
2      1995-01-01  1995-01-03
3      1995-05-10  1995-05-10
4      1995-06-11  1995-06-14
...           ...         ...
61064  2009-04-24  2010-08-20
61065  2010-08-21  2010-08-26
61066  2010-08-27  2010-08-27
61067  2010-08-18  2010-08-21
61068  2005-05-02  2010-08-24

[61069 rows x 2 columns]

In [254]:
df["temp"] = df["DateSaw"].apply(lambda x: True if len(x) == 10 else False)

In [255]:
df.drop(df[df["temp"] == False].index,inplace=True)

In [256]:
df["temp"] = df["DateReg"].apply(lambda x: True if len(x) == 10 else False)

In [257]:
df.drop(df[df["temp"] == False].index,inplace=True)

In [258]:
df["temp"] = df["DateSaw"].apply(lambda x: True if int(x.split("-")[1]) in list(range(1,13)) else False)

In [259]:
df.drop(df[df["temp"] == False].index,inplace=True)

In [260]:
df["temp"] = df["DateReg"].apply(lambda x: True if int(x.split("-")[1]) in list(range(1,13)) else False)

In [261]:
df.drop(df[df["DateReg"] == False].index,inplace=True)

In [262]:
df["DateSaw"] = df["DateSaw"].apply(lambda x: datetime.date(int(x.split("-")[0]),int(x.split("-")[1]),int(x.split("-")[2])))

In [263]:
df["DateReg"] = df["DateReg"].apply(lambda x: datetime.date(int(x.split("-")[0]),int(x.split("-")[1]),int(x.split("-")[2])))

## **Cleaning the State Column**

In [264]:
df.drop(df[df["State"].isna() == True].index,inplace=True)

In [265]:
spec_chars = [chr(i) for i in range(127) if chr(i).isalpha() == False and chr(i) != ","][34:]

In [279]:
for i in spec_chars:
  print(i,[str(x) for x in df["temp"].unique() if i in str(x)])

" []
# [' Thunder Bay -RR#3 , ON', ' New Minas,Kings County,#9 Pine Ridge Drive,, NS']
$ []
% []
& [' Esl&ouml;, Scania , Other than USA', ' Nun&apos;s Island , PQ', ' Coconino Nat&apos;l Forest north of Wupatki NM, AZ, AZ', ' Pete&apos;s Hole , UT', ' Flisa, Sol&oslash;r, Hedemark , Other than USA', ' Coeur D&apos;Alene, ID', ' Tyson&apos;s Corner, VA', ' Lee&apos;s Summit, MO', ' Harvey&apos;s Lake, PA', ' US Hwy 200 between MP 39 &amp; 40, ID', ' West Coast, alt. apx 30&apos; k, northerly flight, CA', ' Malmoe/Copenhagen, Sk&aring;ne , Other than USA', ' St. John&apos;s , Other than USA', ' Dillion&apos;s Beach, CA', ' Interstate between C. Girardeau, MO &amp; Cairo, IL, MO', ' St. John&apos;s , NF', ' May&apos;s Landing', ' Parker&apos;s Lake, KY', ' Martha&apos;s Vinyard, MA', ' D&apos;Hanis, TX', ' Chanute &amp; Humbolt , KS', ' Montlu&ccedil;on , Other than USA', ' Hawaii&apos;s Volcano National Park, HI', ' O&apos;Brien, FL', ' Pite&aring; , Other than USA', ' Cascavel, Paran&aacute; , Other than USA', ' Stonglandseidet/M&oslash;lnelva , Other than USA', ' Troms&oslash; , Other than USA', ' Kapa&apos;a, HI', ' K&ouml;niz , Other than USA', ' Fort Qu&apos;Appelle , SA', ' Clingman&apos;s Dome , TN', ' Hudson&apos;s Hope , BC', ' Roger&apos;s Mesa , CO', ' Johnson&apos;s Creek, WI', ' Crete &amp; Wilber , NE', ' Ceasar&apos;s Creek and Dayton, OH', ' B&uuml;nde  , . Other than USA', ' Lee&apos;s Summit , MO', ' Pr&iacute;ncipe  , Other than USA', ' Mosj&oslash;en , Other than USA', ' Inder&oslash;y, Nord-Tr&oslash;ndelag , . Other than USA', ' Mosj&oslash;en , . Other than USA', ' Vr&aring; , Other than USA', ' Daniel&apos;s Park, CO', ' Mazatl&aacute;n, DE', ' can&apos;t say, PA', ' Harrison &amp; Mt.Plesent , MI', ' V&auml;sby , Other than USA', ' C&quot;an Picafort  , Other than USA', ' Trois-Rivi&egrave;res , PQ', ' Vit&oacute;ria  , Other than USA', ' Burk&apos;s Falls , ON', ' Br&uuml;hl , . Other than USA', ' Vit&oacute;ria , Other than USA', ' &Ccedil;anakkale , Other than USA', ' Podol&apos;sk , Other than USA', ' I don&apos;t know, MD', ' S&atilde;o Paulo , Other than USA', ' O&apos;Fallon, IL', ' Gua&iacute;ba , Other than USA', ' V&auml;stervik , Other than USA', ' La Motte D&apos;Aveillans , Other than USA', ' L&oacute;d  , Other than USA', ' Hyvink&auml;&auml; , Other than USA', ' L&oacute;d  Poland, Other than USA', ' Gasp&eacute; , PQ', ' Sunnm&oslash;re , Other than USA', ' Mt. Rainier Nat&apos;l Park , WA', ' St John&apos;s , NF', ' Smithson&apos;s Valley, TX', ' R&eacute;union Island , Other than USA', ' &Ouml;lmstad , Other than USA', ' P&auml;rnu , Other than USA', ' Ciel de St-R&eacute;mi , QC', ' St-R&eacute;mi , QC', ' Joan&oacute;polis , Other than USA', ' Stony Plain &amp; Spruce Grove , AB', ' St.Catharine&apos;s , ON', ' Norrk&ouml;ping , Other than USA', ' Gersh&oslash;j , Other than USA', ' San Jos&eacute; , Other than USA', ' &Iacute;safj&ouml;r&eth;ur , Other than USA', ' don&apos;t know, NJ', ' Mayag&uuml;ez, Other than USA', ' Bois D&apos;Arc, MO', ' Wiseman&apos;s View , NC', ' Hwy. 6 &amp; 68 , MB', ' San Marcos &amp; Escondido, CA', ' Ship&apos;s Bottom, NJ', ' Gateshead,Tyne &amp; Wear , Other than USA', ' Jackson&apos;s Point , ON', ' Yosemite Nat&apos;l Park, CA', ' Chicago &quot;highway&quot;, IL', ' St. Bernard&apos;s , NF', ' J&otilde;geva , Other than USA', ' Lion&apos;s Head , ON', ' M&eacute;xico, DC', ' O&apos;Fallon, MO', ' Stockholm/ sp&aring;nga , Other than USA', ' Montr&eacute;al , QC', ' Land O&apos;Lakes, FL', ' Labarthe sur L&egrave;ze , Other than USA', ' L&acute;ARBO&Ccedil;  , Other than USA', ' Coeur d&apos;Alene, ID', ' M&aring;l&oslash;y , Other than USA', ' Baie D&apos;urfe , QC', ' H&auml;rn&ouml;sand , Other than USA', ' highway 78 between Bailey &amp; Bonham, Texas, TX', ' Bay D&apos;Espoir , NF', ' Between Jackson Fla. &amp; Atlanta Ga., GA', ' Gila Indian Reservation &amp; S. Chandler, Ocotillo area, AZ', ' Pawley&apos;s Island , SC', ' Bagsv&aelig;rd , DC', ' Nisga&apos;a Highway , BC', ' D&apos;lberville, MS', ' Chicago O&apos;Hare Airport, IL', ' K&auml;rdla , Other than USA', ' Joshua Tree Nat&apos;l Park, CA', ' Pawley&apos;s Island, SC', ' Golden&apos;s Bridge, NY', ' Kea&apos;au, HI', ' Ghaziabad&apos; , Other than USA', ' Bailey&apos;s Harbor, WI', ' Channel Islands &amp; Norwich , Other than USA', ' Channel Islands &amp; Norwich, Other than USA', ' Ca&ccedil;ador , Other than USA', ' LLangollen &amp; Wrexham , Other than USA', ' Va&apos;vau , Other than USA', ' Loomis &amp; Folsom Lake, CA', ' Sullivan &amp; Fenton, MO', ' Westlake &amp; Hardy, VA', ' St. Louis, MO &amp; Columbia, IL, MO', ' Safford &amp; Duncan , AZ', ' Bolivar - 170th &amp; 326th Road junction, MO', ' Po&apos;ipu, HI', ' Sullivan&apos;s Island, SC', ' Colle D&apos;Valle Delsa/ Scorgiono , Other than USA', ' Rzesz&oacute;w , Other than USA', ' Dingman&apos;s Ferry, PA', ' Phenix City &amp; Columbus,Ga, AL', ' Donja Pu&scaron;a , Other than USA', ' Between Orlando &amp; Daytona, FL', ' Klaksv&iacute;k , Other than USA', ' Angleton &amp; Pearland , TX', ' Butte &amp; Bozeman , MT', ' Ouj&eacute; Bougoumou , QC', ' L&apos;Anse , MI', ' St. Paul&apos;s area, NC', ' Brunne, H&auml;rn&ouml;sand , Other than USA', ' Ka&apos;anapali, HI', ' Maca&eacute; , Other than USA', ' Reykjav&iacute;k , Other than USA', ' Smith&apos;s Ferry, ID', ' Hiller&oslash;d , Other than USA', ' St. Paul&apos;s, NC', ' Brentwood Short&apos;s Lake , NS', ' Pa&apos;akai Point- Mamalahoha Hwy, HI', ' Cooper&apos;s Rock, WV']
' []
( []
) []
* []
+ []
- [' MM 99 mile Exit/I-5, WA', ' Seymour-Johnson AFB, NC', ' Wilkes-Barre, PA', ' Tri-Cities, WA', ' I-10, Marker 174, NM', ' San-Carlos mountains, AZ', ' North Camano Island - Buena Vista  area- above Utsalady Bay, WA', ' Jones Co.-Jasper Co. line, Hwy.15N, MS', ' Alaska Airlines/Sea-Tac to Anchorage , BC', ' Old Valmeyer Bottoms-Valmeyer, IL', ' 1-25 corridor , CO', ' Avon-by-the-Sea, NJ', ' I-64 , IN', ' Pacific Northwest - flying from Portland to L.A., Ca/Or, Other than USA', ' Bedford--Mt. Kisco, NY', ' I-35 , TX', ' Oakland - Near the Bay Bridge, CA', ' Blewett Pass-top of mountain pass, WA', ' I-405 North-bound, between 124th and 160th, WA', ' Tinley Park/I-57 , IL', ' Winston-Salem, NC', ' I-84 exit about 1min off of highway., CT', ' I-84  , ID', ' Midway Island - Pacific Ocean, Other than USA', ' I-81 , TN', ' Union Deposit-Hoernerstown, PA', ' Deer Valley Airport-Phoenix , AZ', ' I-90 , WA', ' Cardiff-by-the-Sea, CA', ' Encinitas: along I-5, from encinitas to oceanside over ocean, CA', ' Newcastle-upon-Tyne , Other than USA', ' Theodore Roosevelt National Park exit 32 on I-94 North Dakot, ND', ' Texas highway 54 heading into NM - after crossing I-10, TX', ' Hwy I-40 , AZ', ' Meyers-Tahoe paradise, CA', ' Al - Jubail  , Other than USA', ' Thunder Bay -RR#3 , ON', ' Saddleback Fire Lookout- Tahoe Natl. Forest- Downieville Dis, CA', ' I-80 , UT', ' Pointe-Claire , PQ', ' U.S.Navy-USS Glover AGFF-1-Burmuda Triangle, Fla., Other than USA', ' Shortsville-Manchester, n.y. , ON', ' Lake Whitney  - 90 miles south/west of Dallas, TX', ' Prescott , 40 miles north-west of, AZ', ' I-10 , TX', ' In-flight/Europe, Other than USA', ' Barrow-in-Furness, Cumbria , Other than USA', ' Yuma  near I-8/Mexican border.  Proba, CA', ' Des Moines--4 blocks east of the Marina, Wash, WA', ' Woodburn  on I-5 North @mile post 265, OR', ' Put-in Bay, OH', ' NASA-INTERNET TV, TX', ' Sept-Iles , PQ', ' Onoway-Gunn , AB', ' Neb.-Mo. Line , MO', ' Stanwood - I-5 corridor, WA', ' SAINT LOUIS--CITY, MO', ' In-flighjt, Other than USA', ' Kailua-Kona, HI', ' St-Bruno , PQ', ' Knott - End. Fleetwood , Other than USA', ' Niagara-on-the-Lake , ON', ' Blood-Vein River , MB', ' Ferme-Neuve , PQ', ' Marske-by-Sea/Redcar/Cleveland , Other than USA', ' Weston-super-Mare , Other than USA', ' St-Jovite , PQ', ' Williamsport/Wilkes-Barre, PA', ' Clacton-On-Sea , Other than USA', ' Cadiz-Wallonia area, KY', ' Sainte-Suzanne , Other than USA', ' Alberta/3-34-83-8 w6m  , AB', ' Inder&oslash;y, Nord-Tr&oslash;ndelag , . Other than USA', ' Aarle-Rixtel , Other than USA', ' Bow-Edison, WA', ' St-Louis de Blandford , PQ', ' St-Jean-sur-Richelieu , PQ', ' Mt. Bethel/Pa-NJ border, PA', ' St.Leonards-on-Sea , Other than USA', ' Croton-on-Hudson, NY', ' Baie-Comeau  , PQ', ' St-Truiden , Other than USA', ' I-84 Westbound, MA', ' Roellen-Dyersburg area, TN', ' Niagara-On-The-Lake , ON', ' s-hertogenbosch , Other than USA', ' Woodland Hills-Canoga Park, CA', ' I-95, VA', ' I-355 , IL', ' Trois-Rivi&egrave;res , PQ', ' Agria - Volos , . Other than USA', ' I-90 , NY', ' Cluj-napoca , Other than USA', ' Curitiba - S of Brazil , Other than USA', ' Ste-Brigitte de Laval , PQ', ' Oud-Heverlee , Other than USA', ' Niagra-on-the-lake , ON', ' Yi-NING, Other than USA', ' Stoke-on-Trent , Other than USA', ' Gordes-Manisa , Other than USA', ' Chulucanas-Piura La Vieja , Other than USA', ' Wellington Cap-Egmont , PE', ' Herk-de-Staad , Other than USA', ' Kingston-upon-Hull , Other than USA', ' In-flight , TX', ' Cali-Buga , Other than USA', ' Al-Ain , Other than USA', ' Helsby-Cheshire , Other than USA', ' Vaudreuil-Dorion , PQ', ' Lapu-lapu , Other than USA', ' Sedro-Woolley, WA', ' Sirhind-Ambala , Other than USA', ' Interstate-5, CA', ' Wiltshire-Stonehenge , Other than USA', ' Tel-Aviv , Other than USA', ' Mont-Tremblant , PQ', ' Haarlem-Leiden , Other than USA', ' Highway I-70, MO', ' Samuel-/Bardstown, KY', ' Burnham-on-Crouch , Other than USA', ' St-Polycarp  , QC', ' Weona-Harrisburg-Waldenburg, AR', ' Near the NV/CA state line above the I-15, CA', ' I-395/Exit 97, CT', ' St-Hilaire , QC', ' Qui-Nhon , WA', ' I-5 , CA', ' Boyce-Sharp, LA', ' Interstate-95, RI', ' Ciel de St-R&eacute;mi , QC', ' St-R&eacute;mi , QC', ' Wood-Ridge, NJ', ' New-Wes-Valley , NF', ' Saint-Louis , NB', ' I-5 and Lerdo Highway, CA', ' Barstow-Baker, CA', ' Lemoore/I-5 corridor, CA', ' Leigh-on-sea , Other than USA', ' Kuala Lumpur - Wilayah Persekutuan , Other than USA', ' Kiriat-Yam , Other than USA', ' Joseph City-Winslow, AZ', ' I-5 North in Federal Way, WA', ' Saint-Laurent , QC', ' in-flight/unknown, Other than USA', ' Waterloo-Chelsea, MI', ' St-Philippe , QC', ' Gila Bend- Yuma Not certain , AZ', ' Jakarta-Tokyo , Other than USA', ' In-flight , MT', ' Ste-Martine , QC', ' Corry-Wattsburg, PA', ' I-40 West, mm 228, AR', ' Ahwatukee-Foothills , AZ', ' Toledo-Cleveland, OH', ' St-Hubert , QC', ' Mexi-Cali, CA', ' Yi-Ning City,  , Other than USA', ' Pacific Ocean/X-43a launch, Other than USA', ' Grants Pass-Murphy area, OR', ' Endicott-Vestal, NY', ' Laguna Beach-Newport Beach border, CA', ' Dallas-Frisco , TX', ' Morgantown-Martinsville area, IN', ' Oaklawn - Hickory Hills, IL', ' Potter-middile sex, NY', ' In-orbit , GA', ' Cehu-Silvaniei , Other than USA', ' Near Beth-Shemesh , Other than USA', ' Ampoita-ALBA , Other than USA', ' Tamil Nadu-cuddalore , Other than USA', ' Shoreham-By-Sea , Other than USA', ' In-flight , GA', ' I-495S/I-95S, VA', ' Monroe-Bastrop, LA', ' Vaudreuil-Dorion , QC', ' Hemptead-Brenham, TX', ' Eaton-Muncie, IN', ' Houston-College Station, TX', ' Osaka - Itami chome , Other than USA', ' Seika-cho  , Other than USA', ' Island Pond-Seymour Lake, VT', ' Ahmedabad-Vadodra Express Highway. Gujarat , Other than USA', ' St-Isidore , ON', ' Chicago- West Suburbs- Rt 171, IL', ' Campbelltown-Sydney , Other than USA', ' Basak Gate Lapu-Lapu City,Cebu , Other than USA', ' Spa-Francorchamps , Other than USA', ' Belo Horizonte-Minas Gerais , Other than USA', ' Wilkes-Barre/Taylor, PA', ' Dobron-Lodz , Other than USA', ' Gila Bend - 14 mile west of, AZ', ' Hove, Aldrington, Portslade-by-sea , Other than USA', ' Salem-Portland, OR', ' Sainte-Julie , QC', ' Dalton-in-Furness , Other than USA', ' Myrtle Beach-Cherry Grove, SC', ' In-flight , IL', ' Port-au-Prince , Other than USA', ' Port-au-Prince, Other than USA', ' Ink-O-Pah, CA', ' Arvana-Lamesa, TX', ' St-Bruno , QC', ' Konstancin-Jeziorna , Other than USA', ' Winston-Salem , NC', ' Dikaia-Evros , Other than USA', ' Carmel-by-the-Sea, CA', ' AL-gonfatha , Other than USA', ' Sainte-Therese , QC', ' Fort Collins-St. Louis, MO', ' Karues - Patras , Other than USA', ' Stratford-Upon-Avon , Other than USA', ' Manaus-Amazonas , AL', ' West Valley/I-80, UT', ' Lauderdale-By-The-Sea, FL', ' Newcastle-Upon-Tyne , Other than USA', ' Highland County - Monterey, VA', ' Cypress Hills - West Block , SK', ' Rockport-Fulton, TX', ' Wlkes-Barre, PA', ' Sainte-Anne of Madawaska , NB', ' Ste-Marguerite Lac Masson , QC', ' Ransbach-Baumbach , Other than USA', ' Ohio-Michigan border, OH', ' I-84 , ID', ' Mystic  - New Haven, CT', ' White Sand Missile Range - North Ocuro Peak, NM', ' Baird/ Putnam on I-20, TX', ' Tifton - Omega, GA', ' Ste-Justine de Newton , Other than USA', ' Bolivar - 170th &amp; 326th Road junction, MO', ' Columbia - Stephens Lake, MO', ' Sainte-Anne-du-Lac  , QC', ' Burton-on-Trent , Other than USA', ' Jounieh-Jabal Lebnen , Other than USA', ' Logan- Columbus, OH', ' Walden- Newburg, NY', ' Val-des-Monts , QC', ' I-10  , CA', ' I-65 , IN', ' Othello-Pullman, WA', ' Bellingham-Lummi, WA', ' Oregon on Interstate-5, OR', ' Thornton-Cleveleys , Other than USA', ' I-355 and 159th st, IL', ' Burton-In-Kendal , Other than USA', ' Haymarket-Gainesville, VA', ' Southend-on-Sea , Other than USA', ' Tracadie-Sheila , NB', ' In-flight sighting, Other than USA', ' Newcastle-under-Lyme , Other than USA', ' Bloomfield-Friendship , PA', ' I-70 , KS', ' Walton-on-Thames, Surrey , Other than USA', ' Norwood -Cincinnati, OH', ' Raleigh - Durham , NC', ' Cornwall-on-Hudson, NY', ' Barrow-In-Furness , Other than USA', ' Henley-in-Arden , Other than USA', ' Interstate 80/I-76;  into Colorado begins  NE', ' i-10e bound markers 2-65, NM', ' Marshfield-Webster Co, MO', ' Skarysko-Kamienna , Other than USA', ' Pampatar-Margarita Island , Other than USA', ' Ste-Brigitte-de-laval , QC', ' Rouyn-Noranda , QC', ' Manchester-by-the-sea, MA', ' Red Bluff - Dribble Creek Subdivision, CA', ' Rheinland-Pfalz , Other than USA', ' Hayward-Trego, WI', ' Pa&apos;akai Point- Mamalahoha Hwy, HI']

In [268]:
df["temp"] = df["State"].apply(lambda x: x[:x.find("(")] + x[x.find(")") + 1:] if x.find("(") != -1 and x.find(")") != -1 else x)

In [273]:
df["temp"] = df["temp"].apply(lambda x: x[:x.find("(")] + x[x.find(")") + 1:] if x.find("(") != -1 and x.find(")") != -1 else x)

In [270]:
df["temp"] = df["temp"].apply(lambda x: x + " Other than USA" if x[-2:].isalpha() == False else x)

In [271]:
df["temp"] = df["temp"].apply(lambda x: x.replace("?"," Not certain "))

In [276]:
df["temp"] = df["temp"].apply(lambda x: x[:x.find("(")] + x[x.rfind(",") + 1:] if x.find("(") != -1 and x.rfind(",") != -1 else x)

In [278]:
df["temp"] = df["temp"].apply(lambda x: x.replace(")",""))